.body-class{
    background-color: black;
    margin: 0;
    padding: 0;
}

.title-header{
    display: block;
    margin: 0px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    word-spacing: 10px;
    color: rgb(252, 111, 134);
    font-family: 'Bebas Neue';
}

.navigation-bar{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content:space-between;
    border-bottom-style: solid;
    border-bottom-color:pink;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-color: pink;
    border-top-width: 1px;
}

.navigation-element-left{
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigation-element-right{
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;

}

.navigation-element-link{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Oswald';
}

.navigation-element-link:hover{
    color: lightpink;
}

.navigation-element-button1{ 
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    font-family: 'Oswald';
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 30px;
    padding-left: 30px;
    vertical-align: baseline;
    size: 80%;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: rgb(252, 111, 134);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    text-decoration: none;
}

.navigation-element-button1:hover{
    opacity: 80%;
}

.cart-menu{
    position: fixed;
    background-color: rgb(252, 121, 143);
    top: 145px;
    right: 15px;
    border-left-color: pink;
    border-left-style: solid;
    border-left-width: 2.5px;
    border-top-color: pink;
    border-top-style: solid;
    border-top-width: 2.5px;
    border-right-color: pink;
    border-right-style: solid;
    border-right-width: 2.5px;
    border-bottom-color: pink;
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
    width: 250px;
    height: 810px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.cart-menu-heading{
    font-family:'Oswald';
    font-size: 35px;
    text-align: center;
    font-weight:bold;
    color: white;
}

.cart-menu >.cart-element-center{  
    position: relative;
    margin-top: 450px;
    align-content:center;
}

.cart-menu-element{
    font-family:'Oswald';
    font-size: 25px;
    text-align: left;
    color: black;
    padding: 20px;
}

.heading-two{
    font-family:'Oswald';
    color:rgb(252, 121, 143);
    font-size: 50px;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 20px;
}

.paragraph-style{
    font-family: 'Bebas Neue' ;
    color: white;
    font-size: 30px;
    margin-top: 5px;
    font-weight: 200;
}